/* services part */

html {
    scroll-behavior: smooth;
}
.title {
    display: flex;
    justify-content: center;
    color: red;
    font-size: 2.2em;
    font-weight: 300;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(61, 61, 61);
    width: 15em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: rgb(207, 0, 0);
    font-size: 3em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 600;
    margin: 10px;
}

.info p {
    color: #ffffff;
}

.social-icons {
    padding: 30px 0 ;
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
    transition: 0.7s;
}

.social-icons span {
    font-size: 0.7em;
    padding: 8px;
    font-weight: 700;
}

.social-icons a:hover {
    color: red;
}

/* contact */
.contact .card {
    width: 32em;
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 50%;
  font-size: 18px; 
  transition: 0.7s;
}

#myBtn:hover {
  background-color: #ffffff; 
  color: black;
}


/* TASKS
navbar in phone
logo
icons change
 */


/* ANIMATION PART */
.hiddenn {
    opacity: 0;
    /* filter: blur(5px);
    transform: translateX(-100%); */
    transition: all 3s;
}

@media(prefers-reduced-motion){
    .hiddenn {
        transition: none;
    }
}

/* Custom CSS for small devices */
@media (max-width: 640px) {
  .sm:custom-height {
    /* Add your desired height value here */
    height: 200px; /* Change this value as needed */
  }
}


.show {
    opacity: 1;
    /* filter: blur(0);
    transform: translateX(0); */
}

/* dik l3yba test */

#homey {
  height: fit-content;
  background-size: cover;
  background-color: #1d1d1d;
  /* background-repeat: repeat-x; */
  background-image: url("images/code.gif");
  /* animation: movement 40s linear infinite; */
}

/* @keyframes movement {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 560px 0px;
  }
} */



/* .mydivoutermulti{
	position: relative;  
}
.buttonoverlapmulti{
	position: absolute;
    z-index: 2;
    top: 60%;
 
    display: none;

}
.mydivoutermulti:hover .buttonoverlapmulti{ 
	display:block;
} */

/* .container {
    position: relative;  
    width:100%;
    max-width:100px;
}
.container:before {
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  top:0;left:0;right:0;
  background-color:rgba(0,0,0,0);
}
.container:hover::before {
  background-color:rgba(0,0,0,0.5);
}
.container img {
  display:block;
}
.container a {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity:0;
} 

.container:hover a {   
    opacity: 1;
  }
 */

  
  